.phone{
    width: 30rem;
}

#button{
    display: flex;
    gap: 2rem;
    margin-left: 2rem;
}
.mobileInput{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-left: 30rem;
    margin-top: 3rem;
}
.captcha-container{
    width: 30rem;
    margin-left: 30rem;
    margin-top: 4rem;
}
.form-control1{
    width: 30rem;
    margin-left: 30%;
    margin-top: 10rem;
}
.button-right{
    display: flex;
    gap: 2rem;
    margin-left: 31rem;
    margin-top: 2rem;
}
