.card-body{
    display: flex;
    gap: 12rem;
}
.cards{
    background-color: #060d17;
    color: #999C9F;
    font-weight: 400;
    font-size: 1.2rem;

}
.cardLogin{
    position: absolute;
    margin-left: 50rem;
    top: 3rem;
    width: 19rem;
    gap: 4rem;
    background-color:#191e25;
}
.profileColor{
    color: #aaa;
    font-size: 1.1rem;
    padding-left: 4rem;
    padding-top: 0.5rem;
}
.profileAccount{
    color: #aaa;
    font-size: 1.1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
}
.recommendations{
    background-color: white;
    position: absolute;
    left: 25rem;
    top: 4rem;
    width: 32rem;

}
.mobile{
    background-color: #060d17;
    position: absolute;
    left: 25rem;
    top: 4rem;
    width: 32rem; 
}
.auth{
    padding-left: 4rem;
}
.search{
    margin-left: 16rem;
    border: none;
}
.input{
    padding-left: 1rem;
    width: 32rem;
    height: 3rem;
}


 .heading{
 position: relative;
 left: -4rem;
 }

.userAdd{
    margin-left: -6rem;
}

 .headerCard{
    width: 100%;
    background-color: #060d17;
    color: #999C9F;
    font-weight: 400;
    font-size: 1.2rem;
    z-index: 1;
 }
 .searchMovies{
    width: 100%;
 }
.searchbar{
    width: 32rem;
    height: 3rem;
}
.img-bolly{
    width: 10rem;
    height: 4rem;
    margin-left: -11rem;
}
.img-search{
    margin-left: -2rem;
    margin-top: 1rem;
}
.searchMovies{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.userAdd{
    padding-left: 2rem;
}
.profileData{
    display: flex;
    gap: 1rem;
}
.profileImg{
    width: 2rem;
    height: 2rem;
}
.cardProfile{
    display: flex;
    gap: 2rem;
}
.manageProfile{
    font-size: 1.1rem;
    padding-left: 1rem;
    cursor: pointer;
    font-weight: 400;
}
.logout{
    font-size: 1.1rem;
    padding-left: 1rem;
}
.profileSvg{
    width: 1.4rem;
    height: 1.4rem;
    filter: brightness(0) invert(1);
    cursor: pointer;
}
.addNewDatas{
    display: flex;
    gap:0.6rem;
    margin-left: 1rem;
}
.newDatas{
    font-size: 1.1rem;
}
.mainData{
    padding-left: 4rem;
    cursor: pointer;
}
.watchList{
    cursor: pointer;
    padding-left: 1rem;
    font-size: 1.1rem;
}
@media only screen and (max-width: 500px) {
    .headerCard{
        width: 400%;
        background-color: #060d17;
        color: #999C9F;
        font-weight: 400;
        font-size: 1.2rem;
        height: 12rem;
   
     }
     .card-body{
        display: flex;
        gap: 12rem;
    }
     .hamburger{
        width: 6rem;
    }
    .img-bolly{
        width: 14rem;
        height: 4rem;
        margin-top: 1rem;
    
    }
    .signout{
        display: none;
    }
    .userAdd{
        display: none;
    }
    .searchbar{
        width: 32rem;
        height: 5.8rem;
        font-size: 2rem;
        margin-top: 1rem;
    }
    .img-search{
        margin-left: -3rem;
        margin-top: 3rem;
       width: 2rem;
    } 
}


@media only screen and (min-width: 500px ) and (max-width:800px) {
    .headerCard{
        width: 331%;
        background-color: #060d17;
        color: #999C9F;
        font-weight: 400;
        font-size: 1.2rem;
        height: 12rem;
     }
     .img-bolly{
        width: 26rem;
        height: 7rem;
        margin-left: -10rem;
        margin-top: 1rem;
    }
    .signout{
        display: none;
    }
    .userAdd{
        display: none;
    }
    .searchbar{
        width: 59rem;
        height: 5.8rem;
        font-size: 2rem;
        margin-top: 1rem;
    }
    .img-search{
        margin-left: -5rem;
        margin-top: 2rem;
        width: 3rem;
    } 
}

@media only screen and (min-width: 800px ) and (max-width:1000px) {
    .headerCard{
        width: 331%;
        background-color: #060d17;
        color: #999C9F;
        font-weight: 400;
        font-size: 1.2rem;
        height: 12rem;
     }
     .img-bolly{
        width: 26rem;
        height: 7rem;
        margin-left: -10rem;
        margin-top: 1rem;
    }
    .signout{
        display: none;
    }
    .userAdd{
        display: none;
    }
    .searchbar{
        width: 84rem;
        height: 5.8rem;
        font-size: 2rem;
        margin-top: 1rem;
    }
    .img-search{
        margin-left: -5rem;
        margin-top: 2rem;
        width: 3rem;
    } 
}
@media only screen and (min-width: 1000px ) and (max-width:1350px) {
.headerCard{
    width: 133%;
}
}
/* @media only screen and (max-width: 1130px) {
.cards{
    width: 71rem;
    font-size: 1rem;
}
.auth{
    padding-left: 4rem;
}
}
.hamburger{
    width: 2rem;
}
@media only screen and (max-width: 500px) {
    .cards{
        font-size: 2rem;
    }
    .input{
        padding-left: 1rem;
        width: 32rem;
        height: 5rem;
    }
} */
@media only screen and (min-width: 1000px) {
    .hamburger{
    width: 2rem;
    display: none;
    }
}
@media only screen and (max-width: 1000px) {
    .auth{
        display: none;
    }
}