.cardData{
    display: flex;
    gap: 1rem;
    margin-left: 19rem;
    margin-top: 1rem;
}
.rightArrow{
    filter: brightness(0) invert(1);
   /* margin-top: -20rem; */
   z-index: 2;
   position: absolute;
   top: 15rem;
   left: 92rem;
   cursor: pointer;
  }
 
  .leftArrow{
    filter: brightness(0) invert(1);
   /* margin-top: -20rem; */
   z-index: 2;
   position: absolute;
   top: 15rem;
   left: 19.5rem;
   cursor: pointer;
   width: 1rem;
  }
  .rightArrow1{
position: absolute;
left: 92rem;
margin-top: 4rem;
    filter: brightness(0) invert(1);
    z-index: 2;
    cursor: pointer;
  }
  .leftArrow1{
    filter: brightness(0) invert(1);
   z-index: 2;
  position: absolute;
  left: 19rem;
  margin-top: 4.5rem;
   cursor: pointer;
   width: 1rem;
  }
  .headingTitle1{
    padding-top: 1rem;
  }
  .headingTitle2{
    padding-top: 1rem;
    padding-left: 20rem;
  }
  .headingTitle3{
   padding-top: 1rem;
    padding-left: 20rem;
  }
.rightArrow2{
    position: absolute;
left: 92rem;
  margin-top: 4rem;
  filter: brightness(0) invert(1);
  z-index: 2;
  cursor: pointer;

}
.leftArrow2{
  filter: brightness(0) invert(1);
 /* margin-top: -20rem; */
 z-index: 2;
position: absolute;
left: 19rem;
margin-top: 4.5rem;
 cursor: pointer;
 width: 1rem;
}
.rightArrow3{
  position: absolute;
left: 92rem;
margin-top: 4.5rem;
filter: brightness(0) invert(1);
z-index: 2;
cursor: pointer;

}
.leftArrow3{
filter: brightness(0) invert(1);
/* margin-top: -20rem; */
z-index: 2;
position: absolute;
left: 19rem;
margin-top: 4.5rem;
cursor: pointer;
width: 1rem;
}
    @media only screen and (max-width: 500px) {
    .cardData{
        display: flex;
        gap: 1rem;
        margin-left: 2rem;
    }
    .rightArrow{
        filter: brightness(0) invert(1);
        /* margin-top: -20rem; */
        z-index: 2;
        position: absolute;
        top: 19rem;
        left: 96rem;
        cursor: pointer;
        width: 5rem;
      }
      .leftArrow{
        filter: brightness(0) invert(1);
       /* margin-top: -20rem; */
       z-index: 2;
       position: absolute;
       top: 19rem;
       left: 2rem;
       cursor: pointer;
       width: 4rem;
      }
  }
  @media only screen and (min-width: 350px ) and (max-width:450px) {
    .cardData{
      display: flex;
      gap: 1rem;
      margin-left: 2rem;
      margin-top: 3rem;
  }
  .headingTitle1{
    padding-top: 2rem;
    font-size:3rem;
    margin-left: -16rem;
    width: 44rem;
  }
  .headingTitle{
    width: 50rem;
    font-size: 3rem;
    margin-left: -16rem;
  }
  .headingTitle2{
    padding-top: 2rem;
    font-size: 3rem;
    padding-left: 3rem;
    width: 44rem;
  }
  .headingTitle3{
    padding-top: 2rem;
    font-size: 3rem;
    padding-left: 3rem;
    width: 44rem;
  }
  .rightArrow{
      filter: brightness(0) invert(1);
     z-index: 2;
     position: absolute;
     top: 25rem;
     left: 105rem;
     cursor: pointer;
     width: 5rem;
    }
    .leftArrow{
      filter: brightness(0) invert(1);
     z-index: 2;
     position: absolute;
     top: 26rem;
     left: 2rem;
     cursor: pointer;
     width: 4rem;
    }
    .rightArrow1{
      filter: brightness(0) invert(1);
     z-index: 2;
     position: absolute;
     top: 43rem;
     left: 105rem;
     cursor: pointer;
     width: 5rem;
    }
    .leftArrow1{
      filter: brightness(0) invert(1);
     z-index: 2;
     position: absolute;
     top: 43rem;
     left: 2rem;
     cursor: pointer;
     width: 4rem;
    }
    .rightArrow2{
      filter: brightness(0) invert(1);
     z-index: 2;
     position: absolute;
     top: 65rem;
     left: 105rem;
     cursor: pointer;
     width: 5rem;
    }
    .leftArrow2{
      filter: brightness(0) invert(1);
     z-index: 2;
     position: absolute;
     top: 65rem;
     left: 2rem;
     cursor: pointer;
     width: 4rem;
    }
    .rightArrow3{
      filter: brightness(0) invert(1);
     z-index: 2;
     position: absolute;
     top:87rem;
     left: 5rem;
     cursor: pointer;
     width: 5rem;
    }
    .leftArrow3{
      filter: brightness(0) invert(1);
     z-index: 2;
     position: absolute;
     top: 87rem;
     left: 2rem;
     cursor: pointer;
     width: 4rem;
    }
  }
  @media only screen and (min-width: 500px ) and (max-width:600px) {
    .cardData{
        display: flex;
        gap: 1rem;
        margin-left: 2rem;
        margin-top: 3rem;
    }
    .headingTitle1{
      padding-top: 2rem;
      font-size: 3rem;
      padding-left: 3rem;
    }
    .headingTitle2{
      padding-top: 2rem;
      font-size: 3rem;
      padding-left: 3rem;
    }
    .headingTitle3{
      padding-top: 2rem;
      font-size: 3rem;
      padding-left: 3rem;
    }
    .rightArrow{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 26rem;
       left: 105rem;
       cursor: pointer;
       width: 5rem;
      }
      .leftArrow{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 26rem;
       left: 2rem;
       cursor: pointer;
       width: 4rem;
      }
      .rightArrow1{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 50rem;
       left: 105rem;
       cursor: pointer;
       width: 5rem;
      }
      .leftArrow1{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 50rem;
       left: 2rem;
       cursor: pointer;
       width: 4rem;
      }
      .rightArrow2{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 80rem;
       left: 105rem;
       cursor: pointer;
       width: 5rem;
      }
      .leftArrow2{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 80rem;
       left: 2rem;
       cursor: pointer;
       width: 4rem;
      }
      .rightArrow3{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top:110rem;
       left: 105rem;
       cursor: pointer;
       width: 5rem;
      }
      .leftArrow3{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top:110rem;
       left: 2rem;
       cursor: pointer;
       width: 4rem;
      }
      
  }
  @media only screen and (min-width: 600px ) and (max-width:700px) {
    .cardData{
        display: flex;
        gap: 2rem;
        margin-left: 2rem;
    }
    .rightArrow{
        filter: brightness(0) invert(1);
        /* margin-top: -20rem; */
        z-index: 2;
        position: absolute;
        top: 27rem;
        left: 129rem;
  
        cursor: pointer;
        width: 5rem;
      }
      .leftArrow{
        filter: brightness(0) invert(1);
       /* margin-top: -20rem; */
       z-index: 2;
       position: absolute;
       top: 26rem;
       left: 2rem;
       cursor: pointer;
       width: 4rem;
      }
      .rightArrow1{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 59rem;
       left: 129rem;
       cursor: pointer;
       width: 5rem;
      }
      .leftArrow1{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 50rem;
       left: 2rem;
       cursor: pointer;
       width: 4rem;
      }
      .rightArrow2{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 90rem;
       left: 129rem;
       cursor: pointer;
       width: 5rem;
      }
      .leftArrow2{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 90rem;
       left: 2rem;
       cursor: pointer;
       width: 4rem;
      }
      .rightArrow3{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top:119rem;
       left: 129rem;
       cursor: pointer;
       width: 5rem;
      }
      .leftArrow3{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top:119rem;
       left: 2rem;
       cursor: pointer;
       width: 4rem;
      }
    .headingTitle{
    margin-left: -17rem;
    }
       .headingTitle1{
      padding-top: 2rem;
      font-size: 3rem;
      padding-left: 3rem;
      margin-left: -17rem;
    }
    .headingTitle2{
      padding-top: 2rem;
      font-size: 3rem;
      padding-left: 3rem;
    }
    .headingTitle3{
      padding-top: 2rem;
      font-size: 3rem;
      padding-left: 3rem;
    }
  }
  @media only screen and (min-width: 700px ) and (max-width:800px) {
    .cardData{
        display: flex;
        gap: 1rem;
        margin-left: 2rem;
    }
    .rightArrow{
        filter: brightness(0) invert(1);
        /* margin-top: -20rem; */
        z-index: 2;
        position: absolute;
        top: 30rem;
        left: 140rem;
  
        cursor: pointer;
        width: 5rem;
      }
      .leftArrow{
        filter: brightness(0) invert(1);
       /* margin-top: -20rem; */
       z-index: 2;
       position: absolute;
       top: 30rem;
       left: 2rem;
       cursor: pointer;
       width: 4rem;
      }
      .rightArrow1{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top:71rem;
       left: 142rem;
       cursor: pointer;
       width: 5rem;
      }
      .leftArrow1{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 71rem;
       left: 2rem;
       cursor: pointer;
       width: 4rem;
      }
      .rightArrow2{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 104rem;
       left: 142rem;
       cursor: pointer;
       width: 5rem;
      }
      .leftArrow2{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 104rem;
       left: 2rem;
       cursor: pointer;
       width: 4rem;
      }
      .rightArrow3{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top:137rem;
       left: 142rem;
       cursor: pointer;
       width: 5rem;
      }
      .leftArrow3{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top:137rem;
       left: 2rem;
       cursor: pointer;
       width: 4rem;
      }
      .headingTitle{
        margin-left: -16rem;
      }
       .headingTitle1{
      padding-top: 2rem;
      font-size: 3rem;
      margin-left: -16rem;
    }
    .headingTitle2{
      padding-top: 2rem;
      font-size: 3rem;
      padding-left: 3rem;
    }
    .headingTitle3{
      padding-top: 2rem;
      font-size: 3rem;
      padding-left: 3rem;
    }
  }
 @media only screen and (min-width: 800px ) and (max-width:900px) {
    .cardData{
        display: flex;
        gap: 3rem;
        margin-left: 4rem;
        margin-top: 2rem;
    }
    .rightArrow{
        filter: brightness(0) invert(1);
        z-index: 2;
        position: absolute;
        top: 32rem;
        left: 157rem;
  
        cursor: pointer;
        width: 5rem;
      }
      .leftArrow{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 32rem;
       left: 4rem;
       cursor: pointer;
       width: 4rem;
      }
      .rightArrow1{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 64rem;
       left: 157rem;
       cursor: pointer;
       width: 5rem;
      }
      .leftArrow1{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 64rem;
       left: 6rem;
       cursor: pointer;
       width: 4rem;
      }
      .rightArrow2{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 99rem;
       left: 157rem;
       cursor: pointer;
       width: 5rem;
      }
      .leftArrow2{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 99rem;
       left: 6rem;
       cursor: pointer;
       width: 4rem;
      }
      .rightArrow3{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top:136rem;
       left: 187rem;
       cursor: pointer;
       width: 5rem;
      }
      .leftArrow3{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top:145rem;
       left: 6rem;
       cursor: pointer;
       width: 4rem;
      }
      .headingTitle{
        margin-left: -15rem;
      }
       .headingTitle1{
      padding-top: 2rem;
      font-size: 4rem;
      margin-left: -15rem;
    }
    .headingTitle2{
      padding-top: 2rem;
      font-size: 4rem;
      padding-left: 3rem;
    }
    .headingTitle3{
      padding-top: 2rem;
      font-size: 4rem;
      padding-left: 3rem;
    }
  }
  @media only screen and (min-width: 900px ) and (max-width:1000px) {
    .cardData{
        display: flex;
        gap: 1.5rem;
        margin-left: 4rem;
    }
    .rightArrow{
        filter: brightness(0) invert(1);
        /* margin-top: -20rem; */
        z-index: 2;
        position: absolute;
        top: 30rem;
        left: 188rem;
  
        cursor: pointer;
        width: 5rem;
      }
      .leftArrow{
        filter: brightness(0) invert(1);
       /* margin-top: -20rem; */
       z-index: 2;
       position: absolute;
       top: 30rem;
       left: 4rem;
       cursor: pointer;
       width: 4rem;
      }
      .rightArrow1{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 72rem;
       left: 187rem;
       cursor: pointer;
       width: 5rem;
      }
      .leftArrow1{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 74rem;
       left: 6rem;
       cursor: pointer;
       width: 4rem;
      }
      .rightArrow2{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 107rem;
       left: 188rem;
       cursor: pointer;
       width: 5rem;
      }
      .leftArrow2{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top: 107rem;
       left: 6rem;
       cursor: pointer;
       width: 4rem;
      }
      .rightArrow3{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top:142rem;
       left: 168rem;
       cursor: pointer;
       width: 5rem;
      }
      .leftArrow3{
        filter: brightness(0) invert(1);
       z-index: 2;
       position: absolute;
       top:142rem;
       left: 6rem;
       cursor: pointer;
       width: 4rem;
      }
      .headingTitle{
        margin-left: -15rem;
      }
       .headingTitle1{
      padding-top: 2rem;
      font-size: 4rem;
    margin-left: -15rem;
    }
    .headingTitle2{
      padding-top: 2rem;
      font-size: 4rem;
      padding-left: 3rem;
    }
    .headingTitle3{
      padding-top: 2rem;
      font-size: 4rem;
      padding-left: 3rem;
    }
  }
  @media only screen and (min-width: 1600px ) and (max-width:2500px) {
    .cardData{
      display: flex;
      gap: 5.3rem;
      margin-left: 20rem;
  }
  .rightArrow{
    filter: brightness(0) invert(1);

   z-index: 2;
   position: absolute;
   top: 15.5rem;
   left: 109rem;
   cursor: pointer;
  }
  .leftArrow{
    filter: brightness(0) invert(1);

   z-index: 2;
   position: absolute;
   top: 15.5rem;
   left: 21rem;
   cursor: pointer;
   width: 1rem;
  }
  .rightArrow1{
    position: absolute;
    left: 109.2rem;
    margin-top: 5rem;
        filter: brightness(0) invert(1);
        z-index: 2;
        cursor: pointer;
      }
      .leftArrow1{
        filter: brightness(0) invert(1);
       z-index: 2;
      position: absolute;
      left: 21rem;
      margin-top: 4.5rem;
       cursor: pointer;
       width: 1rem;
      }
      .rightArrow2{
        position: absolute;
    left: 109.2rem;
      margin-top: 4.5rem;
      filter: brightness(0) invert(1);
      z-index: 2;
      cursor: pointer;
    
    }
    .leftArrow2{
      filter: brightness(0) invert(1);

     z-index: 2;
    position: absolute;
    left: 21rem;
    margin-top: 4.5rem;
     cursor: pointer;
     width: 1rem;
    }
  }
  .rightArrow3{
    position: absolute;
  left: 92rem;
  margin-top: 4.5rem;
  filter: brightness(0) invert(1);
  z-index: 2;
  cursor: pointer;
  
  }
  .leftArrow3{
  filter: brightness(0) invert(1);

  z-index: 2;
  position: absolute;
  left: 21rem;
  margin-top: 4.5rem;
  cursor: pointer;
  width: 1rem;
  }