video::-webkit-media-controls-panel {
  display: none !important;
}

video::-webkit-media-controls-volume-slider {
  display: initial !important;
}
.videoPlayer {
  margin-left: 0rem;
  opacity: 0.8;
  width: 100%;
}
/* .video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; 
    background-color: #000;
  } */

/* .completion-image{
    width: 76.8rem;
} */

.start-image {
  width: 100%;
  height: 70%;
}
.start-image1 {
  width: 100%;
  height: 70%;
  opacity: 0.7;
}

.gradient-container {
  position: relative;
  height: 100%;
 
}

.gradient-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9) 20%,
    transparent 80%
  );

  z-index: 2; /* Make sure the gradient is above the image */
}

.imgButton {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 2rem;
  top: 2rem;

  filter: brightness(0) invert(1);
}

.fade-container {
  position: absolute;
  width: 76.8rem;
  margin-left: 18rem;
  height: 100%;
  transition: opacity 0.5s ease;
  opacity: 1;
  overflow: hidden;
}

.fade-out {
  opacity: 0;
}
.movieContent {
  position: relative;
}
.contentRating {
  display: flex;
  gap: 2rem;
}
.contenttitle {
  padding-left: 22rem;
  color: #fff;
  font-weight: 900;
  z-index: 2;
  padding-top: 3rem;
}
.contentDescription {
  padding-left: 22rem;
  padding-top: 2rem;
  color: #fff;
  width: 70rem;
  z-index: 2;
  line-height: 1.9rem;
}
.contentRate {
  padding-left: 22rem;
  padding-top: 1rem;
  color: #999c9f;
  z-index: 2;
}
.contentTime {
  padding-top: 1rem;
  color: #999c9f;
  z-index: 2;
}
.contentDate {
  padding-top: 1rem;
  color: #999c9f;
  z-index: 2;
}
.Genres {
  padding-top: 1rem;
  color: #999c9f;
  padding-left: 22rem;
  z-index: 2;
}
.premium {
  padding-top: 1rem;
  color: #fff;
  padding-left: 22rem;
}
.button {
  display: flex;
}
.playButton {
  width: 5rem;
  margin-left: 22rem;
  margin-top: 1.5rem;
  filter: brightness(0) invert(1);
  cursor: pointer;
}
.play {
  margin-left: 1.5rem;
  margin-top: 3rem;
  color: #fff;
  cursor: pointer;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease forwards;
}
@media only screen and (min-width: 350px ) and (max-width:450px) {
  .fade-container {
    position: absolute;
    width: 121rem;
    margin-left: 0rem;
    height: 91rem;
    transition: opacity 0.5s ease;
    opacity: 1;
    overflow: hidden;
  }
  .contenttitle {
    padding-left: 5rem;
    color: #fff;
    font-weight: 900;
    z-index: 2;
    padding-top: 3rem;
    font-size: 4rem;
    width: 64rem;
  }
  .contentDescription {
    padding-left: 6rem;
    padding-top: 2rem;
    color: #fff;
    width: 70rem;
    z-index: 2;
    line-height: 3.9rem;
    font-size: 3rem;

  }
  .contentRating {
    display: flex;
    gap: 2rem;
  
  }
  .contentRate {
display: none;
  }
  .contentTime {
   display: none;
  }
  .contentDate {
 display: none;
  }
  .Genres {
    padding-top: 2rem;
    color: #999c9f;
    padding-left: 6rem;
    z-index: 2;
    font-size: 3rem;
    width: 50rem;

  }
  .premium {
    padding-top: 1rem;
    color: #fff;
    padding-left: 6rem;
    font-size: 3rem;
    width: 43rem;
  }
  .playButton {
    width: 13rem;
    margin-left: 6rem;
    margin-top: 0.5rem;
    filter: brightness(0) invert(1);
    cursor: pointer;
  }
  .play {
    margin-left: 4.5rem;
    margin-top: 3rem;
    color: #fff;
    cursor: pointer;
    font-size: 4rem;
  }
.gradient-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(
    to top ,left,
    rgba(0, 0, 0, 0.9) 20%,
    transparent 80%
  );

  z-index: 2; /* Make sure the gradient is above the image */
}
.imgButton{
  position:absolute;
  right: -79rem;
  width: 3.6rem;
  height: 4rem;
}
}
@media only screen and (min-width: 500px ) and (max-width:600px) {
  .fade-container {
    position: absolute;
    width: 121rem;
    margin-left: 0rem;
    height: 91rem;
    transition: opacity 0.5s ease;
    opacity: 1;
    overflow: hidden;
  }
  .contenttitle {
    padding-left: 5rem;
    color: #fff;
    font-weight: 900;
    z-index: 2;
    padding-top: 3rem;
    font-size: 4rem;
    width: 64rem;
  }
  .contentDescription {
    padding-left: 6rem;
    padding-top: 2rem;
    color: #fff;
    width: 70rem;
    z-index: 2;
    line-height: 3.9rem;
    font-size: 3rem;

  }
  .imgButton {
    width: 3rem;
    height: 3rem;
    position: absolute;
   left: 105rem;
    top: 2rem;
    filter: brightness(0) invert(1);

}
  .contentRating {
    display: flex;
    gap: 2rem;
  
  }
  .contentRate {
display: none;
  }
  .contentTime {
   display: none;
  }
  .contentDate {
 display: none;
  }
  .Genres {
    padding-top: 2rem;
    color: #999c9f;
    padding-left: 6rem;
    z-index: 2;
    font-size: 3rem;
    width: 50rem;

  }
  .premium {
    padding-top: 1rem;
    color: #fff;
    padding-left: 6rem;
    font-size: 3rem;
    width: 43rem;
  }
  .playButton {
    width: 13rem;
    margin-left: 6rem;
    margin-top: 4.5rem;
    filter: brightness(0) invert(1);
    cursor: pointer;
  }
  .play {
    margin-left: 4.5rem;
    margin-top: 8rem;
    color: #fff;
    cursor: pointer;
    font-size: 4rem;
  }
.gradient-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(
    to top ,left,
    rgba(0, 0, 0, 0.9) 20%,
    transparent 80%
  );

  z-index: 2; /* Make sure the gradient is above the image */
}
}
@media only screen and (min-width: 600px ) and (max-width:700px) {
  .fade-container {
    position: absolute;
    width: 126rem;
    margin-left: 0rem;
    height: 91rem;
    transition: opacity 0.5s ease;
    opacity: 1;
    overflow: hidden;
  }
  .contenttitle {
    padding-left: 5rem;
    color: #fff;
    font-weight: 900;
    z-index: 2;
    padding-top: 3rem;
    font-size: 4rem;
    width: 64rem;
  }
  .contentDescription {
    padding-left: 6rem;
    padding-top: 2rem;
    color: #fff;
    width: 70rem;
    z-index: 2;
    line-height: 3.9rem;
    font-size: 3rem;

  }
  .contentRating {
    display: flex;
    gap: 2rem;
  
  }
  .contentRate {
display: none;
  }
  .contentTime {
   display: none;
  }
  .contentDate {
 display: none;
  }
  .Genres {
    padding-top: 2rem;
    color: #999c9f;
    padding-left: 6rem;
    z-index: 2;
    font-size: 3rem;
    width: 50rem;

  }
  .premium {
    padding-top: 1rem;
    color: #fff;
    padding-left: 6rem;
    font-size: 3rem;
    width: 43rem;
  }
  .playButton {
    width: 13rem;
    margin-left: 6rem;
    margin-top: 4.5rem;
    filter: brightness(0) invert(1);
    cursor: pointer;
  }
  .play {
    margin-left: 4.5rem;
    margin-top: 8rem;
    color: #fff;
    cursor: pointer;
    font-size: 4rem;
  }
  .imgButton {
    width: 3rem;
    height: 3rem;
    position: absolute;
   left: 118rem;
    top: 2rem;
    filter: brightness(0) invert(1);

}
.gradient-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(
    to top ,left,
    rgba(0, 0, 0, 0.9) 20%,
    transparent 80%
  );

  z-index: 2; /* Make sure the gradient is above the image */
}
.imgButton{

}
}
@media only screen and (min-width: 700px ) and (max-width:800px) {
  .fade-container {
    position: absolute;
    width: 147rem;
    margin-left: 0rem;
    height: 91rem;
    transition: opacity 0.5s ease;
    opacity: 1;
    overflow: hidden;
  }
  .contenttitle {
    padding-left: 5rem;
    color: #fff;
    font-weight: 900;
    z-index: 2;
    padding-top: 3rem;
    font-size: 4rem;
    width: 64rem;
  }
  .contentDescription {
    padding-left: 6rem;
    padding-top: 2rem;
    color: #fff;
    width: 70rem;
    z-index: 2;
    line-height: 3.9rem;
    font-size: 3rem;

  }
  .contentRating {
    display: flex;
    gap: 2rem;
  
  }
  .contentRate {
display: none;
  }
  .contentTime {
   display: none;
  }
  .contentDate {
 display: none;
  }
  .Genres {
    padding-top: 2rem;
    color: #999c9f;
    padding-left: 6rem;
    z-index: 2;
    font-size: 3rem;
    width: 50rem;

  }
  .premium {
    padding-top: 1rem;
    color: #fff;
    padding-left: 6rem;
    font-size: 3rem;
    width: 43rem;
  }
  .playButton {
    width: 13rem;
    margin-left: 6rem;
    margin-top: 4.5rem;
    filter: brightness(0) invert(1);
    cursor: pointer;
  }
  .play {
    margin-left: 4.5rem;
    margin-top: 8rem;
    color: #fff;
    cursor: pointer;
    font-size: 4rem;
  }
  .imgButton {
    width: 5rem;
    height: 5rem;
    position: absolute;
   left: 135rem;
    top: 2rem;
    filter: brightness(0) invert(1);

}
.gradient-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(
    to top ,left,
    rgba(0, 0, 0, 0.9) 20%,
    transparent 80%
  );

  z-index: 2; /* Make sure the gradient is above the image */
}
}
@media only screen and (min-width: 800px ) and (max-width:900px) {
  .fade-container {
    position: absolute;
    width: 167rem;
    margin-left: 0rem;
    height: 91rem;
    transition: opacity 0.5s ease;
    opacity: 1;
    overflow: hidden;
  }
  .contenttitle {
    padding-left: 5rem;
    color: #fff;
    font-weight: 900;
    z-index: 2;
    padding-top: 3rem;
    font-size: 4rem;
    width: 64rem;
  }
  .contentDescription {
    padding-left: 6rem;
    padding-top: 2rem;
    color: #fff;
    width: 70rem;
    z-index: 2;
    line-height: 3.9rem;
    font-size: 3rem;

  }
  .contentRating {
    display: flex;
    gap: 2rem;
  
  }
  .contentRate {
display: none;
  }
  .contentTime {
   display: none;
  }
  .contentDate {
 display: none;
  }
  .Genres {
    padding-top: 2rem;
    color: #999c9f;
    padding-left: 6rem;
    z-index: 2;
    font-size: 3rem;
    width: 50rem;

  }
  .premium {
    padding-top: 1rem;
    color: #fff;
    padding-left: 6rem;
    font-size: 3rem;
    width: 43rem;
  }
  .playButton {
    width: 13rem;
    margin-left: 6rem;
    margin-top: 4.5rem;
    filter: brightness(0) invert(1);
    cursor: pointer;
  }
  .play {
    margin-left: 4.5rem;
    margin-top: 8rem;
    color: #fff;
    cursor: pointer;
    font-size: 4rem;
  }
  .imgButton {
    width: 5rem;
    height: 5rem;
    position: absolute;
   left: 135rem;
    top: 2rem;
    filter: brightness(0) invert(1);

}
.gradient-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(
    to top ,left,
    rgba(0, 0, 0, 0.9) 20%,
    transparent 80%
  );

  z-index: 2; /* Make sure the gradient is above the image */
}
}
@media only screen and (min-width: 900px ) and (max-width:1000px) {
  .fade-container {
    position: absolute;
    width: 193rem;
    margin-left: 0rem;
    height: 91rem;
    transition: opacity 0.5s ease;
    opacity: 1;
    overflow: hidden;
  }
  .contenttitle {
    padding-left: 5rem;
    color: #fff;
    font-weight: 900;
    z-index: 2;
    padding-top: 3rem;
    font-size: 4rem;
    width: 64rem;
  }
  .contentDescription {
    padding-left: 6rem;
    padding-top: 2rem;
    color: #fff;
    width: 70rem;
    z-index: 2;
    line-height: 3.9rem;
    font-size: 3rem;

  }
  .contentRating {
    display: flex;
    gap: 2rem;
  
  }
  .contentRate {
display: none;
  }
  .contentTime {
   display: none;
  }
  .contentDate {
 display: none;
  }
  .Genres {
    padding-top: 2rem;
    color: #999c9f;
    padding-left: 6rem;
    z-index: 2;
    font-size: 3rem;
    width: 50rem;

  }
  .premium {
    padding-top: 1rem;
    color: #fff;
    padding-left: 6rem;
    font-size: 3rem;
    width: 43rem;
  }
  .playButton {
    width: 13rem;
    margin-left: 6rem;
    margin-top: 4.5rem;
    filter: brightness(0) invert(1);
    cursor: pointer;
  }
  .play {
    margin-left: 4.5rem;
    margin-top: 8rem;
    color: #fff;
    cursor: pointer;
    font-size: 4rem;
  }
  .imgButton {
    width: 5rem;
    height: 5rem;
    position: absolute;
   left: 179rem;
    top: 2rem;
    filter: brightness(0) invert(1);

}
.gradient-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(
    to top ,left,
    rgba(0, 0, 0, 0.9) 20%,
    transparent 80%
  );

  z-index: 2; /* Make sure the gradient is above the image */
}
}
@media only screen and (min-width: 900px ) and (max-width:1000px) {
  .fade-container {
    position: absolute;
    width: 193rem;
    margin-left: 0rem;
    height: 140rem;
    transition: opacity 0.5s ease;
    opacity: 1;
    overflow: hidden;
  }
}
@media only screen and (min-width: 1000px ) and (max-width:1100px) {
  .fade-container {
    position: absolute;
    width: 76.8rem;
    margin-left: 18rem;
    height: 171%;
    transition: opacity 0.5s ease;
    opacity: 1;
    overflow: hidden;
  }
  .imgButton {
    width: 3rem;
    height: 3rem;
    position: absolute;
   left: 88rem;
    top: 2rem;
    filter: brightness(0) invert(1);

}
}
@media only screen and (min-width: 1100px ) and (max-width:1200px) {
  .fade-container {
    position: absolute;
    width: 76.8rem;
    margin-left: 18rem;
    height: 171%;
    transition: opacity 0.5s ease;
    opacity: 1;
    overflow: hidden;
  }
  .imgButton {
    width: 3rem;
    height: 3rem;
    position: absolute;
   left: 88rem;
    top: 2rem;
    filter: brightness(0) invert(1);

}
}
@media only screen and (min-width: 1200px ) and (max-width:1300px) {
  .fade-container {
    position: absolute;
    width: 85.8rem;
    margin-left: 18rem;
    height: 171%;
    transition: opacity 0.5s ease;
    opacity: 1;
    overflow: hidden;
  }
  .imgButton {
    width: 2.8rem;
    height: 2.8rem;
    position: absolute;
   left: 88rem;
    top: 2rem;
    filter: brightness(0) invert(1);

}
}
@media only screen and (min-width: 1300px ) and (max-width:1400px) {
  .fade-container {
    position: absolute;
    width: 76.8rem;
    margin-left: 18rem;
    height: 171%;
    transition: opacity 0.5s ease;
    opacity: 1;
    overflow: hidden;
  }
  
}
@media only screen and (min-width: 1400px ) and (max-width:1500px) {
  .fade-container {
    position: absolute;
    width: 76.8rem;
    margin-left: 18rem;
    height: 171%;
    transition: opacity 0.5s ease;
    opacity: 1;
    overflow: hidden;
  }
  
}
@media only screen and (min-width: 1550px ) and (max-width:2500px) {
  .fade-container {
    position: absolute;
    width: 95rem;
    margin-left: 18rem;
    height: 100%;
    transition: opacity 0.5s ease;
    opacity: 1;
    overflow: hidden;
  }
}