.newProfiles{
    font-size: 2rem;
    font-weight: bold;
    padding-top: 4rem;
}
.learnProfile{
    color: #79b8f3;
}
.profileButton{
    margin-left: 36rem;
   width: 25rem;
   height: 3rem;
}
.cancelButton{
    margin-left: 44rem;
   width: 7rem;
   height: 3rem;
   margin-top: 1rem;
}
.secondUser{
   padding-left: 28rem;
}
@media only screen and (min-width: 350px ) and (max-width:500px) {
    .newProfiles{
        font-size: 4rem;
        font-weight: bold;
        padding-top: 4rem;
    }
    .bolly-Text{
     font-size: 2.6rem;
    }
    .polly-Text{
        font-size: 2.6rem;
    }
    .profileButton{
        margin-left: 36rem;
       width: 25rem;
       height: 5rem;
       font-size: 2rem;
    }
    .secondUser{
        font-size: 3rem;
        padding-left: 10rem;
    }
    .cancelButton{
        margin-left: 44rem;
       width: 10rem;
       height: 5rem;
       margin-top: 1rem;
       font-size: 2rem;
    }
}
@media only screen and (min-width: 500px ) and (max-width:600px) {
    .newProfiles{
        font-size: 4rem;
        font-weight: bold;
        padding-top: 4rem;
    }
    .bolly-Text{
     font-size: 2.6rem;
    }
    .polly-Text{
        font-size: 2.6rem;
    }
    .profileButton{
        margin-left: 36rem;
       width: 25rem;
       height: 5rem;
       font-size: 2rem;
    }
    .secondUser{
        font-size: 3rem;
        padding-left: 10rem;
    }
    .cancelButton{
        margin-left: 44rem;
       width: 10rem;
       height: 5rem;
       margin-top: 1rem;
       font-size: 2rem;
    }
}
@media only screen and (min-width: 600px ) and (max-width:700px) {
    .newProfiles{
        font-size: 4rem;
        font-weight: bold;
        padding-top: 4rem;
    }
    .bolly-Text{
     font-size: 2.6rem;
    }
    .polly-Text{
        font-size: 2.6rem;
    }
    .profileButton{
        margin-left: 47rem;
       width: 40rem;
       height: 7rem;
       font-size: 3rem;
    }
    .secondUser{
        font-size: 3rem;
        padding-left: 20rem;
    }
    .cancelButton{
        margin-left: 54rem;
       width: 20rem;
       height: 7rem;
       margin-top: 1rem;
       font-size: 3rem;
    }
}
@media only screen and (min-width: 700px ) and (max-width:800px) {
    .newProfiles{
        font-size: 4rem;
        font-weight: bold;
        padding-top: 4rem;
    }
    .bolly-Text{
     font-size: 2.6rem;
    }
    .polly-Text{
        font-size: 2.6rem;
    }
    .profileButton{
        margin-left: 53rem;
       width: 46rem;
       height: 8rem;
       font-size: 3rem;
    }
    .secondUser{
        font-size: 3rem;
        padding-left: 26rem;
    }
    .cancelButton{
        margin-left: 61rem;
       width: 22rem;
       height: 8rem;
       margin-top: 1rem;
       font-size: 3rem;
    }
}
@media only screen and (min-width: 800px ) and (max-width:900px) {
    .newProfiles{
        font-size: 4rem;
        font-weight: bold;
        padding-top: 4rem;
    }
    .bolly-Text{
     font-size: 2.6rem;
    }
    .polly-Text{
        font-size: 2.6rem;
    }
    .profileButton{
        margin-left: 53rem;
       width: 46rem;
       height: 8rem;
       font-size: 3rem;
    }
    .secondUser{
        font-size: 3rem;
        padding-left: 26rem;
    }
    .cancelButton{
        margin-left: 61rem;
       width: 22rem;
       height: 8rem;
       margin-top: 1rem;
       font-size: 3rem;
    }
}
@media only screen and (min-width: 900px ) and (max-width:1000px) {
    .newProfiles{
        font-size: 4rem;
        font-weight: bold;
        padding-top: 4rem;
    }
    .bolly-Text{
     font-size: 2.6rem;
    }
    .polly-Text{
        font-size: 2.6rem;
    }
    .profileButton{
        margin-left: 58rem;
       width: 60rem;
       height: 8rem;
       font-size: 3rem;
    }
    .secondUser{
        font-size: 3rem;
        padding-left: 38rem;
    }
    .cancelButton{
        margin-left: 75rem;
       width: 22rem;
       height: 8rem;
       margin-top: 1rem;
       font-size: 3rem;
    }
}
@media only screen and (min-width: 1700px ) and (max-width:2500px) {
    .profileButton{
        margin-left: 44rem;
       width: 25rem;
       height: 3rem;
    }
    .secondUser{
        padding-left: 38rem;
     }
     .cancelButton{
        margin-left: 51.5rem;
       width: 7rem;
       height: 3rem;
       margin-top: 1rem;
    }
}
@media only screen and (min-width: 1550px ) and (max-width:1700px) {
    .profileButton{
        margin-left: 36rem;
       width: 25rem;
       height: 3rem;
    }
    .secondUser{
        padding-left: 33rem;
     }
}