.profileCard{
    margin-left: 20rem;
    margin-top: 1rem;
    width: 59rem;
}
.headingTitles{
    padding-left: 20rem;
    font-size: 2rem;
}
@media only screen and (max-width: 500px){
    .watchlistSidebar{
        font-size:1.5rem; 
    }
    .accountSidebar{
        font-size:1.5rem; 
    }
}
@media only screen and (min-width: 500px ) and (max-width:600px) {
    .profileCard{
        margin-left: 20rem;
        margin-top: 1rem;
        width: 69rem;
    }
    .headingTitles{
        padding-left: 20rem;
        font-size: 4rem;
    }
    .watchlistSidebar{
        font-size:1.5rem; 
    }
    .accountSidebar{
        font-size:1.5rem; 
    }
}
@media only screen and (min-width: 600px ) and (max-width:700px) {
    .profileCard{
        margin-left: 20rem;
        margin-top: 1rem;
        width: 89rem;
    }
    .headingTitles{
        padding-left: 20rem;
        font-size: 4rem;
    }
    .watchlistSidebar{
        font-size:2rem; 
    }
    .accountSidebar{
        font-size:2rem; 
    }
}
@media only screen and (min-width: 700px ) and (max-width:1000px) {
    .profileCard{
        margin-left: 20rem;
        margin-top: 1rem;
        width: 89rem;
    }
    .headingTitles{
        padding-left: 20rem;
        font-size: 4rem;
    }
    .watchlistSidebar{
        font-size:2rem; 
    }
    .accountSidebar{
        font-size:2rem; 
    }
}